<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bs-theme-overrides.css">
    <link rel="stylesheet" href="/css/Navbar-Right-Links-icons.css">
    <link rel="stylesheet" href="/css/main.css">

    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/darkmode.js"></script>

</head>

<body>
    <div class="m-2 overflow-auto">
        <div class="hstack gap-4 d-inline-flex pb-3">
            {% for event in events %}
            <a class="text-decoration-none" href="#">
                <div class="card shadow overflow-visible calendar"
                    style="background: transparent;border-color: #6c7d47; min-width: 180px;">
                    <div class="card-body">
                        <h1 class="text-truncate fs-4">{{ event.summary }}</h1>
                        <span class="text-secondary d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar"
                                width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path
                                    d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z" />
                                <path d="M16 3v4" />
                                <path d="M8 3v4" />
                                <path d="M4 11h16" />
                                <path d="M11 15h1" />
                                <path d="M12 15v3" />
                            </svg>
                            {{ event.start | date(format = "%d.%m %H:%M") }}
                        </span>
                        <span class="text-secondary d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M18.364 4.636a9 9 0 0 1 .203 12.519l-.203 .21l-4.243 4.242a3 3 0 0 1 -4.097 .135l-.144 -.135l-4.244 -4.243a9 9 0 0 1 12.728 -12.728zm-6.364 3.364a3 3 0 1 0 0 6a3 3 0 0 0 0 -6z" stroke-width="0" fill="currentColor" />
                            </svg>
                            {{ event.location }}
                        </span>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</body>

</html>